DATABASE_URL=sqlite:///./app.db
DATA_DIR=./data
MODELS_DIR=./models_registry
GOOGLE_APPLICATION_CREDENTIALS=./service_account.json
GDRIVE_FOLDER_ID=1jZNyp6DaQJf3ZlnJWZ5pVFTvkvxKIMnA
CORS_ORIGINS=http://localhost:5173
